<div>
    @if (typeUserId() !== null) {
    <h3>Users with type "{{ typeUserName() }}"</h3>
    <a routerLink="/types">
        <button class="btn btn-danger btn-sm">Back to Type user list</button>
    </a>
    } @else {
    <h3>User list</h3>
    }
    @if (!typeUsersLoaded() || !usersLoaded()) {
    <p>Loading data ...</p>
    } @else {
    @if (typeUsers().length > 0) {
    <a class="btn btn-primary list-add-action" routerLink="/user-form">Add new user</a>
    }
    @if (users().length > 0) {
    <table>
        <thead>
            <tr>
                <th>Type user <span class="sort-arrow" (click)="sortByAsc(SortType.TYPENAME)"> ↑ </span>   <span class="sort-arrow" (click)="sortByDesc(SortType.TYPENAME)"> ↓ </span></th>
                <th>First name <span class="sort-arrow" (click)="sortByAsc(SortType.FIRSTNAME)"> ↑ </span>   <span class="sort-arrow" (click)="sortByDesc(SortType.FIRSTNAME)"> ↓ </span></th>
                <th>Last name <span class="sort-arrow" (click)="sortByAsc(SortType.LASTNAME)"> ↑ </span>   <span class="sort-arrow" (click)="sortByDesc(SortType.LASTNAME)"> ↓ </span></th>
                <th>Email <span class="sort-arrow" (click)="sortByAsc(SortType.EMAIL)"> ↑ </span>   <span class="sort-arrow" (click)="sortByDesc(SortType.EMAIL)"> ↓ </span></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (user of users(); track user.id) {
            <tr>
                <td>{{user.typeUser.typeName}}</td>
                <td><a class="user-details-link" routerLink="/user-details/{{user.id}}">{{user.firstName}}</a></td>
                <td><a class="user-details-link" routerLink="/user-details/{{user.id}}">{{user.lastName}}</a></td>
                <td><a class="user-details-link" routerLink="/user-details/{{user.id}}">{{user.email}}</a></td>
                <td>
                    <a routerLink="/user-form/{{user.id}}">
                        <button class="btn btn-primary btn-sm">Edit</button>
                    </a>
                    <button (click)="deleteUser(user.id)" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    } @else {
    @if (typeUsers().length === 0) {
    <p>Please, add a TypeUser to be able to add a User</p>
    } @else {
    <p>There is no User, Please add one</p>
    }
    }
    }
</div>