<div>
    <a class="btn btn-primary list-add-action" routerLink="/user-form">Add new user</a>
    <table>
        <thead>
            <tr>
                <th>Type user</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (user of users(); track user.id) {
            <tr>
                <!-- TODO: fetch type user and display type user name -->
                <td>{{user.typeUser.typeName}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>
                    <a routerLink="/user-form/{{user.id}}">
                        <button class="btn btn-primary btn-sm">Edit</button>
                    </a>
                    <button (click)="deleteUser(user.id)" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>