<div>
    <h3>Type user List</h3>
    @if (!typeUsersLoaded()) {
    <p>Loading data ...</p>
    } @else {
    <a class="btn btn-primary list-add-action" routerLink="/type-form">Add new user type</a>
    @if (typeUsers().length > 0) {
    <table>
        <thead>
            <tr>
                <th>Id <span class="sort-arrow" (click)="sortByAsc(SortType.ID)"> ↑ </span> <span class="sort-arrow" (click)="sortByDesc(SortType.ID)"> ↓ </span></th>
                <th>Name <span class="sort-arrow" (click)="sortByAsc(SortType.TYPENAME)"> ↑ </span> <span class="sort-arrow" (click)="sortByDesc(SortType.TYPENAME)"> ↓ </span></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (typeUser of typeUsers(); track typeUser.id) {
            <tr>
                <td><a class="type-user-details-link" routerLink="/type/{{typeUser.id}}">{{typeUser.id}}</a></td>
                <td><a class="type-user-details-link" routerLink="/type/{{typeUser.id}}">{{typeUser.typeName}}</a></td>
                <td>
                    <a routerLink="/type-form/{{typeUser.id}}">
                        <button class="btn btn-primary btn-sm">Edit</button>
                    </a>
                    <button (click)="deleteTypeUser(typeUser.id)" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    } @else {
    <p>There is no TypeUser, Please add one</p>
    }
    }
</div>