<div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (typeUser of typeUsers(); track typeUser.id) {
                <tr>
                    <!-- TODO: fetch type user and display type user name -->
                    <td>{{typeUser.id}}</td>
                    <td>{{typeUser.typeName}}</td>
                    <td>
                        <button (click)="deleteTypeUser(typeUser.id)" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>